{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Footer Section</title>
        <link rel="stylesheet" href="{% static 'css/globalstyle.css' %}">
    </head>

    <body>
        <div>
            <nav style="margin-bottom: 30px;">
                <button class="footer-button">
                    About
                </button>
                <s-text style="color:rgb(240,240,240); font-family:Verdana, sans-serif; font-size: 15px;">
                    &nbsp;|&nbsp;
                </s-text>
                <button class="footer-button">
                    Contact Us
                </button>
                <s-text style="color:rgb(240,240,240); font-family:Verdana, sans-serif; font-size: 15px;">
                    &nbsp;|&nbsp;
                </s-text>
                <button class="footer-button">
                    Help Center
                </button>
            </nav>
        </div>
    </body>
</html>