{% extends 'base.html' %}

{% block title %}My Calendars Page{% endblock %}

{% block content %}
<div class="page-pane" style="width:100%">
    <div class="page-pane-bubble">
        <div class="header-title">
            <b-text style="font-size: 40px;">My Calendars</b-text>
        </div>

        <div class="calendars-section">
            <div class="grid">
                <div class="grid-bubble">
                    <button class="grid-cell">
                        <div class="cell-bubble">
                            <div class="cal-name-container" style="justify-content: center;">
                                <s-text>Create new calendar</s-text>
                            </div>
                            <div class="plus-icon">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </button>
                    <button class="grid-cell">
                        <div class="cal-name-container">
                            <div class="left-cal-name">
                                <s-text>Close Family</s-text>
                            </div>
                            <div>
                                <i class="fas fa-calendar"></i>
                            </div>
                        </div>
                        <div class="cal-prev">
                            
                        </div>
                    </button>
                    <button class="grid-cell">
                        <div class="cal-name-container">
                            <div class="left-cal-name">
                                <s-text>Study Buddies</s-text>
                            </div>
                            <div>
                                <i class="fas fa-calendar"></i>
                            </div>
                        </div>
                        <div class="cal-prev">
                            
                        </div>
                    </button>
                    <button class="grid-cell">
                        <div class="cal-name-container">
                            <div class="left-cal-name">
                                <s-text>College Friends</s-text>
                            </div>
                            <div>
                                <i class="fas fa-calendar"></i>
                            </div>
                        </div>
                        <div class="cal-prev">
                            
                        </div>
                    </button>
                    <button class="grid-cell">
                        <div class="cal-name-container">
                            <div class="left-cal-name">
                                <s-text>College Friends</s-text>
                            </div>
                            <div>
                                <i class="fas fa-calendar"></i>
                            </div>
                        </div>
                        <div class="cal-prev">
                            
                        </div>
                    </button>
                    <button class="grid-cell">
                        <div class="cal-name-container">
                            <div class="left-cal-name">
                                <s-text>College Friends</s-text>
                            </div>
                            <div>
                                <i class="fas fa-calendar"></i>
                            </div>
                        </div>
                        <div class="cal-prev">
                            
                        </div>
                    </button>
                    <button class="grid-cell">
                        <div class="cal-name-container">
                            <div class="left-cal-name">
                                <s-text>College Friends</s-text>
                            </div>
                            <div>
                                <i class="fas fa-calendar"></i>
                            </div>
                        </div>
                        <div class="cal-prev">
                            
                        </div>
                    </button>
                    <button class="grid-cell" style="visibility: hidden;">
                        <div class="cal-name-container">
                            <div class="left-cal-name">
                                <s-text>College Friends</s-text>
                            </div>
                            <div>
                                <i class="fas fa-calendar"></i>
                            </div>
                        </div>
                        <div class="cal-prev">
                            
                        </div>
                    </button>
                    <button class="grid-cell" style="visibility: hidden;">
                        <div class="cal-name-container">
                            <div class="left-cal-name">
                                <s-text>College Friends</s-text>
                            </div>
                            <div>
                                <i class="fas fa-calendar"></i>
                            </div>
                        </div>
                        <div class="cal-prev">
                            
                        </div>
                    </button>
                </div>
            </div>
            <div class="calendar-info" id="calendar-info">
                <div class="calendar-info-bubble">
                    <div class="info-header">
                        <s-text style="font-size: 20px;">
                            <i class="fas fa-calendar"></i>
                            &ensp;Close Family
                        </s-text>
                        <button class="cal-info-close" onclick="closeInfo()">
                            <i class="fa-solid fa-xmark" style="font-size: 20px;"></i>
                        </button>
                    </div>
                    <div class="info-body">
                        <div class="info-prev">

                        </div>
                        <button class="manage-button" style="margin-top: 5px; margin-bottom: 10px;">
                            <s-text>
                                Manage access
                            </s-text>
                        </button>
                        <div class="info-details">
                            <div style="font-size: 14px;">
                                <s-text>
                                    <b>Last Modified: </b>10/30/2024
                                </s-text>
                                <br>
                                <s-text>
                                    <b>Contributors: </b>Alex Simpson, Jen Cook, Jim Buck
                                </s-text>
                            </div>
                            <div class="info-footer">
                                <button class="open-button" style="margin-bottom: 10px;">
                                    <s-text>
                                        Open
                                    </s-text>
                                </button>
                                <button class="delete-button" style="margin-bottom: 10px;">
                                    <s-text>
                                        Delete
                                    </s-text>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}

    <script>
        function closeInfo() {
            var calInfo = document.getElementById('calendar-info');
            calInfo.style.display = 'none';
        }
    </script>
</div>
{% endblock %}