{% extends 'base.html' %}

{% block title %}My Calendars Page{% endblock %}

{% block content %}
<div class="page-pane" style="width:100%">
    <div class="page-pane-bubble">
        <div class="header-title">
            <b-text style="font-size: 40px;">My Calendars</b-text>
        </div>

        <div class="calendars-section">
            <div class="grid">
                <div class="grid-bubble">
                    <button class="grid-cell" onclick="createNewCal()">
                        <div class="cell-bubble">
                            <div class="cal-name-container" style="justify-content: center;">
                                <s-text>Create new calendar</s-text>
                            </div>
                            <div class="plus-icon">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </button>
                    {% for calendar in user.calendars.all %}
                    <button class="grid-cell" data-calendar-name="{{ calendar.name }}" onclick="displayCalInfo(this)">
                        <div class="cal-name-container">
                            <div class="left-cal-name">
                                <s-text>{{calendar.name}}</s-text>
                            </div>
                            <div>
                                <i class="fas fa-calendar"></i>
                            </div>
                        </div>
                        <div class="cal-prev">
                            
                        </div>
                    </button>
                    {% endfor %}
                </div>
            </div>
            <div class="calendar-info" id="calendar-info">
                <div class="calendar-info-bubble">
                    <div class="info-header">
                        <div>
                            <s-text style="font-size: 20px;">
                                <i class="fas fa-calendar"></i>
                            </s-text>
                            <s-text id="cal-info-title" style="font-size: 20px;"></s-text>
                        </div>
                        <button class="cal-info-close" onclick="closeInfo()">
                            <i class="fa-solid fa-xmark" style="font-size: 20px;"></i>
                        </button>
                    </div>
                    <div class="info-body">
                        <div class="info-prev">

                        </div>
                        <button class="manage-button" style="margin-top: 5px; margin-bottom: 10px;">
                            <s-text>
                                Manage access
                            </s-text>
                        </button>
                        <div class="info-details">
                            <div style="font-size: 14px;">
                                <s-text>
                                    <b>Last Modified: </b>10/30/2024
                                </s-text>
                                <br>
                                <s-text>
                                    <b>Contributors: </b>Alex Simpson, Jen Cook, Jim Buck
                                </s-text>
                            </div>
                            <div class="info-footer">
                                <button class="open-button" style="margin-bottom: 10px;">
                                    <s-text>
                                        Open
                                    </s-text>
                                </button>
                                <button class="delete-button" style="margin-bottom: 10px;">
                                    <s-text>
                                        Delete
                                    </s-text>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="popup-overlay" id="new-cal-popup">
        <div class="popup-bubble">
            <div>
                <button class="cal-info-close" onclick="closeNewCal()">
                    <i class="fa-solid fa-xmark" style="font-size: 20px;"></i>
                </button>
                <form action="{% url 'mycalendars' %}" method="POST">
                    {% csrf_token %}
                    {{ form.name }}
                    <input type="submit" value="Create" >
                </form>
                {% if form.errors %}
              <div class="errors">
                <ul>
                  {% for field in form %}
                    {% if field.errors %}
                      <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            </div>
            
        </div>
    </div>

    {% include 'footer.html' %}

    <script>
        function closeInfo() {
            var calInfo = document.getElementById('calendar-info');
            calInfo.style.display = 'none';
        }

        function createNewCal() {
            var formPopUp = document.getElementById('new-cal-popup');
            formPopUp.style.display = 'flex';
        }

        function closeNewCal() {
            var formNewCal = document.getElementById('new-cal-popup');
            formNewCal.style.display = 'none';
        }

        function displayCalInfo(calendarButton) {
            var calName = calendarButton.getAttribute('data-calendar-name');
            var calInfoDisplay = document.getElementById('calendar-info');
            var calInfoTitle = document.getElementById('cal-info-title');
            calInfoDisplay.style.display = 'flex';
            calInfoTitle.textContent = "\u2002" + calName;
            
        }
    </script>
</div>
{% endblock %}