{% extends 'base.html' %}

{% block title %}Open Calendar Page{% endblock %}

{% block content %}
<div class="page-pane">
    <div class="page-pane-bubble" style="justify-content: center;">
        <div class="entire-calendar">
            <div class="open-cal-header-title">
                <b-text style="font-size: 40px;">{{calendar.name}}</b-text>
            </div>
            <div class="calendar">
                <div class="calendar-header">
                    <select id="year-selector"></select>
                    <select id="month-selector"></select>
                </div>
                <div class="weekdays">
                    {% for weekday in weekdays %}
                        <div class="weekday">
                            <s-text>
                                {{weekday}}
                            </s-text>
                        </div>
                    {% endfor %}
                    
                </div>
                <div class="calendar-days">
                    
                </div>
            </div>
        </div>

    </div>

    {% include 'footer.html' %}

    <script>
        
    </script>
</div>
{% endblock %}